# Database
ConnectionStrings__Default=Host=your-host;Port=5432;Database=your-db;Username=your-user;Password=your-password;SSL Mode=Require;Trust Server Certificate=true;Channel Binding=Require;

# AWS S3
AwsSettings__AccessKey=your-aws-access-key
AwsSettings__SecretKey=your-aws-secret-key
AwsSettings__Region=ap-southeast-2
AwsSettings__BucketName=your-bucket-name
