# Visual Studio
.vs/

# Build
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# User files
*.user
*.suo

# Uploads
wwwroot/uploads/
uploads/

# Environment files
.env
appsettings.Development.json
appsettings.*.Development.json

