# AWS S3 Configuration - Copy this file to .env and fill in your values
# Remember to NEVER commit .env to git!

AwsSettings__AccessKey=YOUR_ACCESS_KEY
AwsSettings__SecretKey=YOUR_SECRET_KEY
AwsSettings__BucketName=amd201-file-sharing-699592747745-ap-southeast-2-an
AwsSettings__Region=ap-southeast-2
