/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  background: #f8fafc;
  color: #111827;
}

/* Main Layout */

.app-layout {
  display: flex;
  min-height: 100vh;
}

/* Desktop Sidebar */

.sidebar {
  width: 280px;
  flex-shrink: 0;

  background: white;

  border-right: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;
  height: 100vh;
}

/* Content */

.main-content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 40px;

  overflow-x: hidden;
}

/* Upload / History Wrapper */

.page-container {
  width: 100%;
  max-width: 1100px;
}

/* Desktop */

@media (min-width: 1024px) {
  .main-content {
    padding: 48px;
  }
}

/* Tablet */

@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }

  .main-content {
    padding: 90px 20px 24px;
  }

  .page-container {
    max-width: 100%;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .main-content {
    padding: 84px 16px 20px;
  }
}